[data-video-embed]{
    aspect-ratio: 16/9;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    border:  1px solid currentColor;
    --tweak: 1;
}

[data-video-embed].activated{
    cursor: unset;
}

[data-video-embed]:not(.activated){
    background: no-repeat center url(/assets/svg/background-crossed-16_9.svg);
    background-size: cover;
    filter: grayscale(0);
    mix-blend-mode: normal;
    transition: .25 ease-in-out;    
}

[data-video-embed]:after {
    content: "";
    display: block;
    padding-bottom: 56.25%;
    position: absolute;
    background: none;
}


[data-video-embed]:not(.activated):before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    border: 35vmax solid var(--bg);
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    mix-blend-mode: color;
    box-sizing: border-box;
    transition: border .25s ease-in;
}

[data-video-embed]:not(.activated):hover:before{
    border-width: 0;
}

[data-video-embed] iframe{

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

}

[data-video-embed] img{
    display: inline-block;
    width: 100%;
    height: 100%;
}

/* Play Button */
[data-video-embed] .lve-playbtn{
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);    
    z-index: 1;
    background: none;
    //filter: drop-shadow(0 4px 6px #33333360);
    //filter:  drop-shadow(0 0 1px currentColor);
    transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
    outline: 0;
    border: 0;
    cursor: pointer;
}

[data-video-embed] .lve-playbtn:after,
[data-video-embed] .lve-playbtn:before {
    content: "";
    border-style: solid;
    display: inline-block;
    opacity: 1;
    width: 100%;
    transition: opacity .25s ease;
}

[data-video-embed] .lve-playbtn:before {
    border-color: transparent transparent transparent var(--cc);
    border-width: calc(4em * var(--tweak)) 0 calc(4em * var(--tweak)) calc(6em * var(--tweak));     
}

[data-video-embed] .lve-playbtn:after {
    border-color: transparent transparent transparent var(--bg);
    border-width: calc(4em * var(--tweak) - 1px) 0 calc(4em * var(--tweak) - 1px) calc(6em * var(--tweak) - 2px);     
    position: absolute;
    top: 1.5px;
    left: .5px;
}

[data-video-embed] > .lve-playbtn,
[data-video-embed] > .lve-playbtn:before, {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

[data-video-embed]:not(.activated):hover .lve-playbtn{
    opacity: .7;
    transition-delay: opacity .1s;
}

/* If activated  */
[data-video-embed].activated:before,
[data-video-embed].activated > .lve-playbtn:before {
    opacity: 0;
    pointer-events: none;
}

/* Dark Mode Tweak */
body.darkMode [data-video-embed]:not(.activated){
    mix-blend-mode:color-dodge;
    background-image: url("/assets/svg/background-crossed-16_9.svg#background-crossed-light");
}
