:root {
  --font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, em {
  font-weight: 500;
}

h1 {
  line-height: 1.25;
}

body > header {
  text-align: left;
  --width-content: 60rem;
}
body > header ul {
  padding: 0;
}
body > header li {
  text-decoration: none;
  display: inline-block;
  padding-right: 1.2rem;
}
body > header li a {
  font-weight: normal;
  color: var(--color-text);
}
body > header li a.active {
  font-weight: bold;
  text-decoration: underline;
}

main {
  --width-content: 60rem;
}

aside.toc li {
  list-style: none;
  padding: 0;
  background-color: transparent;
}
aside.toc li:hover {
  transition: 0.25s ease-in-out;
  background-color: var(--color-bg-secondary);
}
aside.toc li a {
  color: var(--color-text);
  font-weight: normal;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0.4rem 0.2rem;
  box-sizing: border-box;
}
aside.toc li[data-level="2"] a {
  padding-left: 1rem;
}
aside.toc li[data-level="3"] a {
  padding-left: 2rem;
}
aside.toc li[data-level="4"] a {
  padding-left: 3rem;
}
aside.toc li[data-level="5"] a {
  padding-left: 4rem;
}
aside.toc li[data-level="1"] *, aside.toc li[data-level="2"] * {
  font-weight: 500;
}

#dashboard p {
  font-size: x-large;
}

footer {
  font-size: small;
  padding: 0 1rem;
  margin: 12rem auto 1rem auto;
  color: var(--color-text-secondary);
  width: 100vw;
  --width-content: 60rem;
}
footer a {
  text-decoration: underline;
  color: currentColor;
  font-weight: normal;
}

@media (min-width: 60rem) {
  main {
    display: grid;
    grid-template-columns: 20rem auto;
    grid-gap: 2rem;
    align-items: flex-start;
  }
  .content {
    grid-column: 2;
    grid-row: 1;
  }
  aside.toc {
    grid-row: 1;
    grid-column: 1;
    box-sizing: border-box;
    position: sticky;
    top: 16rem;
    max-height: 90vh;
    overflow-y: auto;
    font-size: 0.8rem;
  }
}

/*# sourceMappingURL=main.css.map */
