{% if aside %}
  {% for a in aside %}
    <section class="closed aside" data-section="{{a.title}}">
      <h1>{{a.title}}</h1>
      <div class="wrapper">
        {{a.content | markdown | typo(locale) | safe }}
      </div>
    </section>
  {% endfor %}
{% endif %}