{% if audio %}
  <aside id="audio">
    {% if audio.plateform == 'soundcloud' %}
      <iframe scrolling="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/{{audio.id}}&amp;color=%238c8484&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true" width="100%" height="166" frameborder="no"></iframe>
    {% endif %}
  </aside>
{% endif %}