{% if bibliography %}
<section class=" bibliography closed" data-section="bibliography">
  <h1>{{ 'page.bibliography' | i18n }}</h1>

  <ol>
    {% set count = 1 %}
    {% for a in bibliography %}
        {%- if a.title -%}
          <li class="noCounter">
            <h2>{{a.title | markdown | escaP | safe }}</h2>
            <ol {% if count != 1 %}start="{{count}}"{% endif %}>
            {% for b in a.references %}
              <li>{{ b | markdown | escaP | safe }}</li>          
              {% set count = count + 1 %}
            {% endfor %}
            <ol>
          </li>
        {% else %}
            <li>{{ a | markdown | escaP | safe }}</li> 
        {% endif %}
    {% endfor %}
  </ol>
</section>
{% endif %}