<section id="colophon">
  <ul>
    <li>Dessin&thinsp;: <span>{{  print.credit | default(website.colophon.dessin) | markdown | escaP | safe}}</span></li>
    <li>Type&thinsp;: <span>{{website.colophon.typeface  | markdown | escaP | safe}}</span></li>
    <li>Design&thinsp;: <span>{{website.colophon.design  | markdown | escaP | safe}}</span></li>
    <li>{{ 'colophon.web_based' | i18n }}</li>
  </ul>
</section>