{% set guests = [] %}

{% for day in  programme %}
  {% for event in day.schedule %}
   
    {% if event.guests %}
      {% set guests = (guests.push( event.guests), guests) %}
    {% endif %}

    {% if event.speakers %}
      {% set guests = (guests.push( event.speakers), guests) %}
    {% endif %}

    {% if event.moderator %}
      {% set guests = (guests.push( event.moderator), guests) %}
    {% endif %}

  {% endfor%}
{% endfor%}
{% set guests = guests | uniq %}
          
{% if guests | length > 0 %}
  <section id="guests">
    <h1>{{ 'page.guests' | i18n }}</h1>

    <ul class="artefact" aria-hidden="true">
    {% for guest in guests %}
      <li>
        <button data-item="{{loop.index}}" aria-hidden="true">{{guest | replace("(sous réserve)", "")}}</button>
      </li>
    {% endfor%}
    </ul>

    <ul aria-label="list of guest">
      {% for guest in guests %}
        <li data-item="{{loop.index}}">
          <h2>{{guest}}</h2>
          {% for people in people_database %}
            {% if (guest | replace("(sous réserve)", "") ) == people.name %}
              {% if people[locale].title %}
                <p aria-label="job title">{{people[locale].title}}</p>
              {% endif %}

            
                {% if people.affiliation %}
                  <p class="affiliation">{{ people.affiliation }}</p>
                {% endif %}
                {% if people.contact %}
                <ul aria-label="contact">
                {% for contact in people.contact %}
                  <li>{{ contact | markdown | safe }}</li>
                {% endfor %}
                </ul>
              {% endif %}
              {% if people[locale].bio %}
                {{ people[locale].bio | markdown | escaP | safe }}
              {% endif %}
            {% endif %}
          {% endfor %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}