{% if not date | isInThePast and inscription %}
<section id="inscription">
  <h1>{{ inscription.method }}</h1>
  <div class="wrapper">
    {{ inscription.howto | markdown | typo(locale) | safe}}
  </div>

  {% if inscription.link %}
    <a href="{{inscription.link}}">
      {{ inscription.method }}
    </a>
  {% endif %}

</section>
{% endif %}