{% if linked_publications %}
  <section id="linked_publications">
    <h1>{{ 'list.linked' | i18n }}</h1>
    <ul class="list publication">
      {% set publications = collections["publications_" + locale] %}
      {% for publication in publications %}
        {% set id = publication.filePathStem | findSerial | int %}
        {% if id in linked_publications %}
          {% include "partials/list_item.html" %}
        {% endif %}
      {% endfor %}
    </ul>
  </section>
{% endif %}