{% if partners %}
  <section id="partners">
    <h1>{{ 'page.partners' | i18n }}</h1>

    <ul {% if not partners[0].category %}class="simple"{% endif %}>
    {% set partPrevCat = "--init--" %}
    {% for partner in partners %}
      {% if partner.name %}

        {% if partner.category and partner.category != partPrevCat %}
          {% if partPrevCat != "--init--" %}</ul></li>{% endif %}
          <li class="partnerCategory">
            {% set partPrevCat = partner.category  %}
            <h2>{{ partPrevCat }}</h2>
            <ul class="partnerItems">
        {% endif %}  

        <li>
          {% if partner.link %}
            <a href="{{ partner.link}}" target="_blank" rel="noopener noreferrer" >
          {% endif %}

          {% if partner.logo %}
            <img src="/assets/media/partners_logos/{{partner.logo}}" alt="{{ partner.name }}" loading="lazy">
          {% else %}
            {{ partner.name }}
          {% endif %}

          {% if partner.link %}
            </a>
          {% endif %}
        </li>
      {% endif %}  
    {% endfor %}

        {% if session != "--init--" %}
          </ul>
        </li>
        {% endif %}

    </ul>
    {% if legals %}
      <div class="legals">
        {{legals |  markdown | safe }}
      </div>
    {% endif %}
  </section>
{% endif %}