{% if pinned %}      
  {% for pin in pinned %}
    <div class="pinned">
      <img src="/../../assets/media/{{pin.image}}" aria-label="document ressource">
      {% if pin.link %}<a href="/assets/media/{{pin.link}}" target="blank">{{ 'interaction.download_this' | i18n }}</a>{% endif %}
    </div>
  {% endfor %}
{% endif %}