{% if practical_info %}
<section id="practical_information">
  <h1>{{ 'page.pratical' | i18n }}</h1>
  <ul>
    {% for info in  practical_info %}
      <li data-section="{{info.title}}">
        <h2>{{info.title}}</h2>
        {{info.description | markdown | typo(locale) | escaP | safe}}
      </li>
    {% endfor %}
  </ul>
</section>
{% endif %}