<section id="program">
  <h1>{{ 'page.program' | i18n }}</h1>
  <ul>
  {% for day in programme %}
    <li class="day">  
      <div class="time">
        {% date day.date, locale%}
        <p class="eventDayNumber" hidden>
          <span class="day">{{ 'page.day' | i18n }}&#32;</span> 
          <span class="number"> {{ loop.index }}</span>
        </p>
      </div>
      
      <h2 class="dayDescription">{{ day.title | markdown | escaP | safe }}</h2>

      <ul class="dayAllSessions">

        {% set session = "--init--" %}
        {% for event in day.schedule %}
        
          {% if event.session != session and not event.break %}
            {% if session != "--init--" and session != "break" %}</ul></li>{% endif %}
            <li class="daySession
              {% if event.format == 'ouverture' %}
               opening
              {% endif%} ">
              {% set session = event.session  %}
              <h3>{{ event.session | safe}}</h3>
              
              {% if event.intro %}
                <p class="intro">{{ event.intro }}</p>
              {% endif %}


              <ul class="dayItems">
          {% endif %}

          {% if event.break %}
            </ul></li>

            <li class="daySession break">
              <h3>
              {% if event.start_time > 720 and event.start_time < 870  %}
                {{ 'page.lunch' | i18n }}
              {% else %}                 
               {{ 'page.break' | i18n }}
              {% endif %}
              </h3>

            </li>
            {% set session = "break"  %}
          {% else %}

          <!-- start card -->
          <li class="dayItem">

            {{event.start_time | time | safe}} <span class="time">-</span> {{event.end_time | time | safe}}

            {% if event.format 
                and not (event.flag == 'ouverture' or event.flag == 'opening')
             %}
              <div class="flag">{{event.format}}</div>
            {% endif %}

            {% if event.title %}
              <h4 class="title">{{event.title | markdown | escaP | safe }}</h4>
            {% endif %}

            {% if event.description %}
              <div class="description">
                {{event.description | markdown | safe}}
              </div>
            {% endif %}

            {% if event.moderator %}
              <p class="moderator">

              {{ 'page.moderator' | i18n }}&#32;

              {%- if (event.moderator | isArr) -%}{% for moderator in event.moderator %}{% if loop.index == event.moderator | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ moderator }}{% endfor %}{%- else -%}{{event.moderator}}{%- endif -%}</p>
            {% endif %}

            {% if event.language %}
              <p class="language">{{ event.language }}</p>
            {% endif %}

            {% if event.translator %}
              <p class="translator">

              {{ 'page.translation' | i18n }}&#32;

              {%- if (event.translator | isArr) -%}{% for translator in event.translator %}{% if loop.index == event.translator | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ translator }}{% endfor %}{%- else -%}{{event.translator}}{%- endif -%}</p>
            {% endif %}

            {% if event.isit %}
              <p class="isit">

              {{ 'page.interpretation' | i18n }}&#32;


              {%- if (event.isit | isArr) -%}{% for isit in event.isit %}{% if loop.index == event.translator | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ isit }}{% endfor %}{%- else -%}{{event.isit}}{%- endif -%}</p>
            {% endif %}

            {% if event.speakers %}
              <p>
                {{ 'common.by' | i18n | title }}&#32;
                {%- if (event.speakers | isArr) -%}{% for speakers in event.speakers %}{% if loop.index == event.speakers | length %}&#32;&&#32;{% elif loop.index != 1 %},&#32;{% endif %}{{ speakers }}{% endfor %}{%- else -%}{{event.speakers}}{%- endif -%}
              </p>
            {% endif %}

            {% if event.guests %}
              {%- if (event.guests | isArr) -%}
                <h4>{{ 'page.guest' | i18n }}</h4>
                <ul class="guests 
                {% if 4 > event.guests | length %} xs{% endif %}">
                {% for guest in event.guests %}
                  <li>{{ guest }}</li>
                {% endfor %}
                </ul>
              {% else  %}
                <h4>{{ 'page.guest' | i18n  }}</h4>
                {{event.guests}}
              {% endif %}
            {% endif %}

            {% if event.workshop %}
              <h4>
                {% if language == 'fr' %}Ateliers
                {% else %}Workshops{% endif %}
              </h4>
              {% if (event.workshop |isArr) %}
                <ul class="workshop">
                  {% for workshop in event.workshop %}
                    <li>{{ workshop | markdown | escaP | safe }}</li>
                  {% endfor %}
                </ul>
              {% endif %}
            {% endif %}

            {% if event.debate %}
              <div class="debate">
                {% set svg = 'icon-talk' %}
                {% include "partials/tools/svg_use.html"  %}
                <p>
                  {%- if (event.speakers | isArr) or (event.guests | isArr)-%}
                    {{event.debate.duration}} {{ 'page.talk_duration' | i18n | safe }} 
                  {% else %}
                    {{event.debate.duration}} {{ 'page.talk_duration' | i18n | safe }} 
                  {% endif %}
                </p>
              </div>
            {% endif %}

          </li>
          <!-- end card -->

          {% endif%}
        {% endfor%}
        </li>
      </ul>
             
    </li>
    {% endfor %}
  </ul>
</section>