{% for video in videos %}
  <div class="container {% if video.force %}forced{% endif %}">
    {% if video.force %}
      {{ video.iframe | safe }}
    {% else %}
      <a 
        data-video-embed
        href="{{video.url}}" 
        title="{{'interaction.watch' | i18n}} {{video.title}}"
        data-iframe="{{ video.iframe }}"
        target="_blank"
        >
        {% if video.cover %}
          <img aria-hidden="true" src="{{ video.cover }}" loading="lazy">
        {% endif %}
        <span class="lve-playbtn"></span>
      </a>      
    {% endif %}
    {{ video.title | markdown | safe }}
  </div>
{% endfor %}