{% set relAuthor = publication.data.author | default(author)%}

{%- if (relAuthor | isArr) -%}

	{% set found = false %}
	{%- for a in relAuthor -%}
		{%- for intern_author in website.intern_authors -%}
			{% if (a == intern_author) and not found %}
				<li class="flag">Intern</li>
				{% set found = true %}
			{% endif %}
		{% endfor %}
	{% endfor %}

{% else %}
		
		{%- for intern_author in website.intern_authors -%}
			{% if relAuthor == intern_author %}
				<li class="flag">Intern</li>
			{% endif %}
		{% endfor %}

{% endif%}