body{
	&[data-color-set="1"]{ --hue: 1;}
	&[data-color-set="55"]{ --hue: 55;}
	&[data-color-set="120"]{ --hue: 120;}
	&[data-color-set="210"]{ --hue: 210;}

	--lightest: 70%;//66%;  
	--darkest: 15%;  
	--cc: hsl(var(--hue), 65%, var(--darkest)); 
	--bg: hsl(var(--hue), 100%, var(--lightest)); 
/* 	&.darkMode{
		--cc: hsl(var(--hue), 100%, var(--lightest));
		--bg: hsl(var(--hue), 65%, var(--darkest));
	} */

	/* @media (prefers-color-scheme: dark) {
		--cc: hsl(var(--hue), 100%, var(--lightest));
		--bg: hsl(var(--hue), 65%, var(--darkest));
	}	 */
	&.darkMode{
		--cc: hsl(var(--hue), 100%, var(--lightest));
		--bg: hsl(var(--hue), 65%, var(--darkest));
	}

}