---json
{
  "permalink": "feed.xml",
  "eleventyExcludeFromCollections": true
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="{{ website.url }}">
  <title>{{ website['fr'].name }}/</title>
  <subtitle>{{ website['fr'].subname }}</subtitle>
  <link href="{{ website.url }}" rel="self"/>
  <updated>{{ collections.posts | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ website.url }}</id>
  <author>
    <name>{{ website.intern_authors | join(", ") }}</name>
  </author>
  {% for collection in ['publications_fr', 'events_fr','publications_en', 'events_en'] %}
    {% for post in collections[collection] | reverse %}
    {%- set absolutePostUrl = post.url | absoluteUrl(website.url) %}
    <entry>
      <title>{% if post.data.layout == 'event'%}{% if post.data.locale == 'fr'%}[Événement] {% else %}[Event] {% endif %}{% endif %}{{ post.data.title  | replace("&#8209;", '-') 
              | replace("&amp;", '&') 
              | replace("&nbsp;", ' ')
        }}
      </title>
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | dateToRfc3339 }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <author>
        <name>{%- if ( post.data.author | isArr) -%}{{ post.data.author | join(", ") }}{% else %}{{ post.data.author }}{% endif%}</name>
      </author>      
      <content xml:lang="{{ post.data.locale }}" type="html">{{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
    </entry>
    {%- endfor %}
  {%- endfor %}
</feed>