---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---

<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
    {% for collection_fr in ['publications_fr', 'events_fr'] %}
        {% for page in collections[collection_fr] %}
            <url>
                <loc>{{ website.url }}{{ page.url | url }}</loc>
                <xhtml:link
                   rel="alternate"
                   hreflang="en"
                   href="{{ website.url }}{{ page.url | replace('/fr/', '/en/') }}"/>
                <lastmod>{{ page.date.toISOString() }}</lastmod>
            </url>
        {% endfor %}
    {% endfor %}
    <url>
        <loc>{{ website.url }}/fr/info</loc>
        <xhtml:link
           rel="alternate"
           hreflang="en"
           href="{{ website.url }}/en/info"/>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>
    <url>
        <loc>{{ website.url }}/fr/members</loc>
        <xhtml:link
           rel="alternate"
           hreflang="en"
           href="{{ website.url }}/en/members"/>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>
    <url>
        <loc>{{ website.url }}</loc>
        <lastmod>{{ page.date.toISOString() }}</lastmod>
    </url>    
</urlset>