<!doctype html>
<html lang="{% if locale == 'en' %}en-US{% else %}fr{% endif %}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% include "partials/title.html" %}</title>

    <!--Favicon-->
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="/android-chrome-512x512.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#111111">
    <meta name="msapplication-TileColor" content="#FFEE58">
    <meta name="theme-color" content="#FFEE58">

    <!--SEO-->
    <meta property="og:title" content='{% include "partials/title.html" %}'>
    <meta name="twitter:title" content='{% include "partials/title.html" %}'>
    <meta property="og:url" content="{{website.url}}{{ page.url }}">
    <meta name="twitter:url" content="{{website.url}}{{ page.url }}">
    <meta name="description" content="{% if website[locale].in_short %}{{website[locale].in_short}}{%else%}{{website[locale].in_short}}{%endif%}">
    <meta property="og:description" content="{% if in_short %}{{in_short}}{%else%}{{website[locale].in_short}}{%endif%}">    
    <meta name="twitter:description" content="{% if in_short %}{{in_short}}{%else%}{{website[locale].in_short}}{%endif%}">    
    <meta property="og:site_name" content="{{website[locale].name}}">
    <meta property="og:locale" content="{{locale}}">
    <meta name="twitter:card" content="summary_large_image">
    {% if locale == 'en' %}
      <link rel="alternate" hreflang="fr" href="{{website.url}}{{ page.url | replace('/en/', '/fr/')}}">
    {% else %}
      <link rel="alternate" hreflang="en" href="{{website.url}}{{ page.url | replace('/fr/', '/en/')}}">
    {% endif %}

    {% block SEO %}{% endblock %}

    <!--Style-->
    <link rel="stylesheet" href="{{ '/assets/css/lite-embded.min.css' | url }}" type="text/css"  media="screen">
    <!--<link rel="stylesheet" href="{{ '/assets/css/pannellum.css' | url }}" type="text/css" >-->
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" type="text/css" >
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | url }}" type="text/css" media="print" >
    <link rel="stylesheet" href="{{ '/assets/font/stylesheet.css' | url }}" type="text/css" >
  
  </head>

  <body class="noJS transition init" id="body"
        data-color-set="{{ [1,55, 120, 210] | random }}"
        data-serve="{{ type | default(layout)  }}"
        {% if layout == 'event' %}data-print-id="{{title | urlencode}}"{% endif%}
        {% if print.cover_fallback %}
          style="--cover: url('../../../assets/media/{{print.cover_fallback}}')"
        {% endif %}        
        >
    {% include "partials/topbar.html" %}
    {% include "partials/panorama.html" %}
    <main 
      data-type="{{ type | default(layout)  }}" 
      {% if layout != 'index' %}
        class="open"
      {% endif %}
      {% if print.prefered_color %}
        data-printed-color="{{print.prefered_color}}"
      {% endif %}
      aria-live="assertive"
      >
      {% block main %}{% endblock %}
    </main>
    <a id="backTop" href="#body" aria-hidden tabindex="-1">↑</a>
  	{% include "partials/footer.html" %}
    <div class="sr-only" aria-hidden="true">
      {% include "../../design/assets/svg/icons.svg" %}
    </div include>
  </body>

  <!--Scripts-->

  <script type="text/javascript">
    document.querySelector('body').classList.remove('noJS')
    setTimeout( function() {
      document.querySelector('body').classList.remove('transition', 'init')
    }, 500);
  </script>

  <script type="text/javascript" src="{{ '/assets/js/mini-spa.js' | url }}" async></script>
  <script type="text/javascript" src="{{ '/assets/js/lite-video-embed.js' | url }}" defer></script>
  <!--<script type="text/javascript" src="{{ '/assets/lib/pannellum.min.js' | url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/panorama-init.js' | url }}"></script>-->
  <script type="text/javascript" src="{{ '/assets/lib/share-button.min.js' | url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/global.js' | url }}"></script>
  {% block script %}{% endblock %}

</html>