{% extends "_base.html" %}

{% block SEO %}
  <meta property="og:type" content="event">
  <meta property="event:start_time" content="{% if event_date | isArr %}{{event_date[0]}}{% else %}{{event_date}}{% endif %}">
  {% if social_media.image %}
    {% set cover =  ['/assets/media/', (social_media.image) ] %}
    {% set cover =  cover | join  %}
    <meta property="og:image" content="{{website.url}}{{ cover }}">
    <meta name="twitter:image" content="{{website.url}}{{ cover }}">
  {% else %}
    {% set cover =  "/assets/social/_fallback_cover.webp" %}
    <meta property="og:image" content="{{website.url}}{{ cover }}">
    <meta name="twitter:image" content="{{website.url}}{{ cover }}">
  {% endif %}
  {% set cover =  ['/media/social/', (title | slug), '.webp'] %}
  {% set cover =  cover | join  %}
{% endblock %}

{% block main %}
  <article>

    {% include "partials/ariane.html" %}
    {% include "partials/sideAction.html" %}

    {% include "partials/page/header.html" %}
    {% include "partials/page/pin.html" %}

    
    {% if content %}
      <section id="main_description" class="article">
        <div class="wrapper">{{ content | markdown |  safe }}</div>
      </section>
    {% endif %}

    {% include "partials/page/teasers.html" %}
    {% include "partials/page/videos.html" %}
    {% include "partials/page/inscription.html" %}
    {% include "partials/page/program.html" %}
    {% include "partials/page/guest.html" %}
    {% include "partials/page/practical_info.html" %}
    {% include "partials/page/aside.html" %}
    {% include "partials/page/partners.html" %}
    {% include "partials/page/linked_publication.html" %}
    {% include "partials/page/colophon.html" %}
  </article>
{% endblock %}
