{% extends "_base.html" %}

{% block SEO %}{% endblock %}

{% block Title %}
  {{ 'category.events' | i18n }}&thinsp;—&thinsp;{{website[locale].name}}
{% endblock %}

{% block main %}
  <section>    
    {% include "partials/ariane.html" %}
    {% include "partials/sideAction.html" %}
    {% include "partials/list_filter.html" %}
    
    <ul class="list event">
      {% set events = collections["events_" + locale] %}
      {%- for event in events | reverse -%}
        {% include "partials/list_item.html" %}
      {%- endfor -%}
    </ul>
  </section>
{% endblock %}