{% extends "_base.html" %}

{% block SEO %}
  <meta property='og:type' content='article' />
  {% set cover =  ['/media/social/', (title | slug), '.webp'] %}
  {% set cover =  cover | join  %}
  {% set cover =  "/assets/social/_fallback_cover.webp" %}
  <meta property="og:image" content="{{website.url}}{{ cover }}">
  <meta name="twitter:image" content="{{website.url}}{{ cover }}">{% endblock %}


{% block Title %}Info&thinsp;—&thinsp;{{website.name}}{% endblock %}

{% block main %}
  <article>
    
    {% include "partials/sideAction.html" %}
    <section class="article">
      {% if content %}
      <section data-section="main description" class="">
        <div class="wrapper">
          {{ content | safe }}
        </div>
      </section>
      {% endif %}
    </section>

    <section id="colophon">
      <ul>
        <li>Type&thinsp;: <span>{{website.colophon.typeface  | markdown | escaP | safe}}</span></li>
        <li>Design & développement&thinsp;: <span>{{website.colophon.design  | markdown | escaP | safe}}</span></li>
      </ul>
      <ul>
        <li>
          <a href="" aria-label="mail" class="obf" data-obf='gro.saidemotua@tcatnoc'></a>          
        </li>
        <li>2022</li>
    </section>
  </article>
{% endblock %}

