{% extends "_base.html" %}

{% block SEO %}
  <meta property='og:type' content='article' />
  {% set cover =  ['/media/social/', (title | slug), '.webp'] %}
  {% set cover =  cover | join  %}
  {% set cover =  "/assets/social/_fallback_cover-2.webp" %}
  <meta property="og:image" content="{{website.url}}{{ cover }}">
  <meta name="twitter:image" content="{{website.url}}{{ cover }}">{% endblock %}

{% block main %}
  <section>
    {% include "partials/sideAction.html" %}

    <h1 class="sr-only">{{ title }}</h1>

    <div class="wrapper">
      {{ content | markdown | safe }}
    </div>

    {% set members = [] %}

    <!-- Filter People database by board membership  -->
    {% for people in people_database %}
      {% if people.board %}
        {% set members = (members.push(people), members) %}
      {% endif %}        
    {% endfor%}

    <!-- Prevent double  -->
    {% set members = members | uniq %}

    {% set members_gen = [] %}
    {% set members_scientific = [] %}
    {% set members_partner = [] %}
    {% set members_admin = [] %}

    <!-- Sort member by category  -->
    {% for member in members %}
      {% if (member.board == "researcher" ) 
        or (member.board == "engineer_designer") 
        or (member.board == "activist") 
        or (member.board == "founder")
      %}
        {% set members_gen = (members_gen.push(member), members_gen) %}
      {% elif member.board == "admin" %}
        {% set members_admin = (members_admin.push(member), members_admin) %}
      {% elif member.board == "scientific" %}
        {% set members_scientific = (members_scientific.push(member), members_scientific) %}
      {% elif member.board == "partner" %}
        {% set members_partner = (members_partner.push(member), members_partner) %}
      {% endif %}        
    {% endfor%}


    {% set groups = [
      ['general', members_gen], 
      ['scientific', members_scientific], 
      ['adm', members_admin],
      ['partner', members_partner]
    ] %}


    {% for group in groups %}
      

      <!-- check if empty -->
      {% if (group[1] | length) > 0 %}

        <!-- set section name -->
        {% set translation = "member." + group[0] %}
        <h2>{{ translation | i18n }}</h2>
        
        <ul class="members">

        {% for member in group[1] | shuffle %}

          {% set translation = "member." + member.board %}

          <!-- Member card -->
          <li class="member">
            <h3>{{ member.name }}</h3>

            {% if group[0] == "general" %}
              <p class="flag">{{ translation | i18n }}</p>
            {% endif %}
            
            {% if member.contact %}
              <ul aria-label="contact">
              {% for contact in member.contact %}
                <li>{{ contact | markdown | escaP | safe }}</li>
              {% endfor %}
              </ul>
            {% endif %}
           
            {% if member[locale].bio %}
              <p aria-label="bio">
                {{ member[locale].bio | markdown | escaP | safe }}
              </p>
            {% endif %}         
          </li>
          <!-- End Member card -->

        {% endfor %}

        </ul>

      {% endif %}
    {% endfor %}


  </section>
{% endblock %}
