{% extends "_base.html" %}

{% block SEO %}{% endblock %}

{% block Title %}
  {{ 'category.publications' | i18n }}&thinsp;—&thinsp;{{website[locale].name}}
{% endblock %}

{% block main %}
  <section>
    
    {% include "partials/ariane.html" %}
    {% include "partials/sideAction.html" %}
    {% include "partials/list_filter.html" %}

      <!--One Mega page for listing. Set filter -->
    <ul class="list publication" data-sort-by="title">
      {% set publications = collections["publications_" + locale] %}
      {%- for publication in publications -%}
        {% include "partials/list_item.html" %}
      {%- endfor -%}
    </ul>
  </section>
{% endblock %}

