{% extends "_base.html" %}

{% block SEO %}
  <meta name="author" content="
    {%- if (author | isArr) -%}{% for author in author %}{% if loop.index != 1 %},&#32;{% endif %}{{ author }}{% endfor %}
    {% else %}
      {{ author }}
    {% endif%}
  ">
  <meta property='og:type' content='article' />
  {% set cover =  ['/media/social/', (title | slug), '.webp'] %}
  {% set cover =  cover | join  %}
  {% set cover =  "/assets/social/_fallback_cover-2.webp" %}
  <meta property="og:image" content="{{website.url}}{{ cover }}">
  <meta name="twitter:image" content="{{website.url}}{{ cover }}">
{% endblock %}

{% block Title %}
  {{ title | replace("*", "") | safe}}&thinsp;—&thinsp;{{website.name}}
{% endblock %}


{% block main %}
  <article {% if video or audio %}data-media="true"{%endif%}>
    {% include "partials/ariane.html" %}
    {% include "partials/sideAction.html" %}
    {% include "partials/page/header.html" %}
    {% include "partials/page/videos.html" %}


    <section class="article">
      {% include "partials/page/audio.html" %}
      <div class="wrapper">{{ content | typo(locale) | safe }}</div>
    </section>

    {% include "partials/page/aside.html" %}
    {% include "partials/page/bibliography.html" %}

  </article>
{% endblock %}