// clean : just for event 003

//body.print{
@media print{
	main[data-type="event"]{
		#main_description{
			break-before: page;
			justify-content: flex-start !important;
			.wrapper{
				max-width: 80%;
				h1{
					margin-top: 0;
					column-span: all;
					&:first-of-type{display: none;}
				}
			}
		}

		#inscription{
			position: absolute;
			bottom: 0;
			border-top: $border;
			margin-top: $base*4;

			column-count: 2;

			h1{
				@include f1(2,0,$bold);
				text-transform: capitalize;
				padding: $base*4 0;
				column-span: all;
			}

			p{break-inside: avoid;}

			a.link{
				text-decoration: underline;
				text-decoration-skip-ink: auto;

				&:after{
					display: block;
				}
				
				&:before{
					content: "→ ";
					height: auto;
					display: inline-block;
					overflow: hidden;
					vertical-align: middle;
					padding-right: math.div($unite, 2);
				}
			}

			a.mail:after, 
			a.collecte:after, 
			a.xxl:after{ 
				content: none !important;
			}
		}

		#program{
			h1{ 
			 display: none;
			}

			.day{
				break-before: page;
			}
		}

		#practical_information{
			break-before: page;
			padding-top: 1.5mm;

			> ul{
				display: grid;
				grid-template-columns: 1fr 1fr;
				grid-gap: 4mm;
			}

			a:before{
				content: "→ ";
				height: auto;
				display: inline-block;
				overflow: hidden;
				vertical-align: middle;
				padding-right: math.div($unite, 2);
			}

		 	a:after{
		 		display: block;			 	
		 	}

		 	figure{
		 		position: absolute;
				top: 30mm;
				left: 68mm;
				width: 50mm !important;
		 	}

		 	[data-section*="Télécharger"],
		 	[data-section*="Download "]{
		 		display: none;
		 	}
		}
		&.forscreen a:after{content: none}

		[data-section^="Organi"]{
	    margin-top: 10mm;
			.wrapper{
				display: grid;
				grid-template-columns: 1fr 1fr;
				align-items: baseline;
			}
			ul{
				break-inside: avoid;

				li:before{
					content: ".";
					left: -.5em;
					top: -.2em;
				}	
			}
			ul:nth-of-type(1) em{ 
				display: block;
				@include f1(0);
			}
			ul:nth-of-type(2) em{ display: none;}

			h2:nth-of-type(3) { column-span: all; margin-top: $baseline;}
			.wrapper > p:nth-of-type(1){break-inside: avoid; width: 95.5mm}
			p{text-align: left; }
		}
		#partners{
			break-before: left;
			> ul:last-child:after{content: none !important;}

			li{
			 	@include f1(0);
			 	word-wrap: anywhere;
			}
		}
	}
}

[data-page-number="1"] .pagedjs_pagebox > .pagedjs_area{
  height: $pH;
   main.print{
  	height: calc(#{$pH - $mT - $mB});
  }
  article{
  	display: flex;
  	align-items: flex-end;
  	justify-content: center;
  }
}

// 
// Specific
// 
[data-print-id="Automedias"]{

	main > * > header{
		//&:after{ content: "Illustration Lucile Kessil"; }

		h1{	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 37.26% 100%, 30.17% 81.78%, 26.06% 84.04%, 25.75% 101.58%, 0% 100%); }
	}

	main:not(.forscreen) > * > header h1{
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 40.32% 97.32%, 31.92% 80.44%, 28.25% 82.7%, 27.94% 98.9%, 0% 100%);
	}


	#partners{
		.legals{top: -17mm; left: 68mm;}
		li.partnerCategory:nth-of-type(6){
			li:nth-of-type(3),
			li:nth-of-type(4){
				grid-row: 2  ;
			}
		} 
		li.partnerCategory:nth-of-type(5){
			li:nth-of-type(3){
				grid-row: 2  ;
				img{
					transform: scale(1.5);
				transform-origin: left;
			}
			}
		}		
	}

	[data-page-number="4"],
	[data-page-number="5"],
	[data-page-number="6"],
	[data-page-number="7"]{
		&:before{
			content: "";
			//background: var(--bg);
			display: inline-block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-image: var(--cover) !important;
			background-size: calc( $pW * 2 + $bleed  * 2);
			opacity: .1;
			mix-blend-mode: darken;
		}
	}
	[data-page-number="5"]:before{ 
		background-position: top right;
	}
	[data-page-number="6"]:before{ 
		background-position-x: left;
	}
	[data-page-number="7"]:before{ 
		background-position-x: right;
	}
	[data-page-number="6"]:before, 
	[data-page-number="7"]:before{ 
		background-position-y: 89.5%;
	}

	[data-page-number="4"]{
		.daySession:not(.break) {
			grid-column: span 2 !important;
		}
	}
	[data-page-number="6"],[data-page-number="7"]{
		.daySession:last-child {
			grid-column: span 4 !important;
			.workshop{
				column-count: 2;
			}
		}
	}

	[data-id="program"] li.day .dayAllSessions .daySession ul.dayItems li.dayItem time{
		font-weight: $normal !important;
		margin-top: $base*4 !important;
		&:after{
			border-width: 1px !important;
		}
	}
}


// 
// Specific
// 
[data-print-id="Designing%20Community"]{

		[data-page-number="3"] .daySession:not(.break),
		[data-page-number="4"] .daySession:not(.break){
			grid-column: span 6 !important;
			column-count: 3;
		}

		[data-section="Interventions"]{ display: none;}
}

// 
// Specific
// 
[data-print-id="D%C3%A9mocratie%20Num%C3%A9rique%20Populaire"]{

		[data-page-number="6"] .daySession:not(.break){
			grid-column: span 6 !important;
			column-count: 3;
		}
}

[data-print-id="Deepfake"]{
		--bg: #fff200;
		#coverFallback figure{ height: 94%; }
		#coverFallback figure img{object-fit: contain !important;}
		[data-page-number="1"] header{display: none}

		#program .dayItems{
			grid-template-columns: 1fr 1fr;
			display: grid;
			grid-gap: $base*3;
		}

		#program{
			.day{
				break-before: left;
			}
			.daySession{
				grid-column: 1 / span 4 !important;
				h3{
					line-height: 1.4em;
					max-width: 75%;
				}
			}
		}

		.dayAllSessions li:nth-of-type(5){
			opacity: .5;
			margin-bottom: 10rem; 
		}

		[data-page-number="3"] ul.dayAllSessions li:nth-child(5){
    	margin-bottom: 100mm !important;
		}
}