@media print{

	main .ariane{
		display: none
	}
	main > * > header{

		$w: calc(#{$pW} - 35mm);
		width: $w;
		position: absolute;
		bottom: calc(#{-$mB} - 2mm);
		padding: 6mm 20mm 6mm 4mm;
		left: calc(-10mm - 1px);		
		//display: grid;
		//grid-template-columns: repeat( 4, 1fr);
		//grid-template-rows: repeat( 3, 8mm);
		//align-items: flex-start;
		background: var(--bg);

		&:before{
			content: "Automedias";
			position: absolute;
	    top: calc(#{$baseline} * -2 - .5px);
	    left: 0;
	    background: var(--bg);
	    padding: $baseline*.5 4mm;
	    font-size: 1.5em;
	    font-weight: $bold;
	    border-bottom: 1px solid currentColor;
		}

		h1{
			font-size: 2.5em;
			line-height: .9em;
		}

		.subtitle{
			font-size: 1em;
			max-width: 90%;
			//line-height: .9em;
		}

		address{
			font-size: .8em;
			line-height: 1.35em;
			font-weight: $bold;
			padding-top: $baseline;
			min-height: 4.6rem;

			&:before{
				content: "";
				position: absolute;
				top: $baseline*.5;
				left: -4mm;
				width: $w;
				border-top: 1px solid currentColor;

			}
			.postal{
				display: block;
				font-weight: $normal;
			}
		}

		.date{
			position: absolute;
			bottom: calc(6mm + 2 * 1.8rem);;
			right: 0;

			font-size: 0;
			line-height: 0;

			$u: 7mm;
			border-top: 1px solid currentColor;
			border-bottom: 1px solid currentColor;
			border-left: 1px solid currentColor;
			display: grid;
    	grid-template-columns: $u $u;
    	width: $u*2.75;

			time{
				display: flex;
		    flex-direction: column;
		    width: $u*2.75;
				white-space: normal;

				&:not(:first-child) .sDay{
					&:after, &:before{
						content: "→";
						transform: rotate(45deg) translateX(25%) translateY(-12%);
						font-size: $font-size*1.25;
						position: absolute;
	    			top: 0;
	    			left: 10%;
					}

					&:after{
						top: -$u
					}
					&:before{
						left: #{$u*1.375}
					}
				}
			}

	
			span{
				font-weight: bold;
				text-align: center;
				padding: .25rem;
				height: $u;
				display: inline-block;
			}

			.sDay{
				//border: 1px solid currentColor;
				aspect-ratio: 1/1;
				font-size: $font-size*1;
				line-height: 2em;
				width: 50%;
			}
			.sMonth{
				width: 100%;
				aspect-ratio: 2/1;
				overflow: hidden;
			}
			.sYear{
				border-top: 1px solid currentColor;
				aspect-ratio: 2/1;
				text-transform: uppercase;
			}

			.sMonth, .sYear{
				font-size: $font-size*1.25;
				line-height: 1.5em;
			}

			time[lang="fr"] .sMonth{
				border-top: 1px solid currentColor;
			}

			time[lang="en"] .sMonth{
				border-bottom: 1px solid currentColor;
			}

			time:nth-of-type(1){
				.sDay{ 
					border-left: 1px solid currentColor;
					margin-left: calc(50% - 1px);
				}
			}

			time:nth-of-type(2){
				border-top: 1px solid currentColor;
				.sDay{ 
					border-right: 1px solid currentColor;
					display: inline-block;
				}
			}

			time:has(.sMonth) ~ time .sDay:after {
				top: -14mm;
			}




		}

		.average_day_duration{
			position: absolute;
	    bottom: 6mm;
	    right: 2mm;
	    text-align: right;
	    font-weight: $bold;
	    font-size: 1em;
	    line-height: 1em;
		}


		.organizers{
			display: none;
		}

		.coverCredit{
			display: none;
		}

	}
	/*main > * > header{

		width: calc(#{$pW} - 20mm);
		position: absolute;
		bottom: calc(#{-$mB} - 2mm);
		padding: 4mm 4mm 6mm 4mm;
		left: calc(-10mm - 1px);
		display: grid;
		grid-template-columns: repeat( 4, 1fr);
		grid-template-rows: repeat( 3, 8mm);
		align-items: flex-start;
		background: var(--bg);

		&:after{
			@include f1(0);
			position: absolute;
			top: 78%;
			right: -140px;
			transform: rotate(-90deg);
			text-align: left;
			transform-origin: top left;
		}

		h1{	
			position: absolute;
			top: -178mm;
			top: calc(-178mm - 1px);
			font-size: 2.5em;
			line-height: .9em;
			padding: 6mm 5mm 3mm 5mm;
			grid-column: span 4;
			left: -0.5mm;
			left: -1.75mm;
			background: var(--bg);

			&:after{
				content: "";
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				position: absolute;
				background: var(--bg);
				opacity: .8;
				z-index: -1;

			}
		}

		.subtitle{
			font-size: 2em;
			line-height: 1em;
			grid-column: span 3;
			text-align: left;
			grid-row: 1 / 3;
			font-weight: $medium;
			letter-spacing: -0.25px;
			top: -.2rem;

			span{
				font-size: .5em;
				line-height: 1.2em;
				display: inherit;
				padding-top: 0.25em;
				width: 73%;
				font-weight: $normal;

			}

		}

		.organizers{
			display: none;
		}

		.coverCredit{
			display: none;
		}

		.date{
			font-size: 1.5em;
			line-height: 1.5em;
			text-align: right;
			grid-column-start: 4;

			.average_day_duration{	
				display: block;
				font-size: .7em;
				line-height: 1em;
				text-align: right;
				white-space: pre;
				top: .65em;
			}

			time{
				letter-spacing: -0.1rem;
				top: -.3rem;

				.sMonth{
					display: block;
					font-size: 3rem;
					border-bottom: 3px solid;
					letter-spacing: 0;
					line-height: .75em;
					padding-right: .4em;
					padding-bottom: .125em;
				}

				.sYear{
					position: absolute;
					font-size: .55em;
					transform: rotate(-90deg);
					line-height: 1em;
					display: block;
					right: -6px;
					bottom: 1.4em;
					font-weight: 700;					
				}
			}
		}

		address{

			display: block;
			top: 0.5em;
			grid-row: 3;
			grid-column: 1/span 3;
			align-self: flex-end;
			text-align: left;
			font-size: .65em;
			line-height: 1.35em;
			font-weight: $bold;
			.postal{
				display: block;
				font-weight: $normal;
				//font-style: italic;
			}
		}
	}

	main:not(.forscreen) > * > header{

		padding: 4mm 4mm calc(6mm + #{$bleed}) calc(4mm + #{$bleed});
		left: calc(-10mm - #{$bleed});
		bottom: calc(#{-$mB} - 2mm - #{$bleed} );
		width: calc(#{$pW} - 20mm + #{$bleed});

		h1{
			padding: calc(6mm + #{$bleed}) 5mm 3mm calc(5mm + #{$bleed});
			top: -183mm;
			left: -1mm;
		}
	}*/
}