body:not(.print){

	nav#panorama{

		position: fixed;
		height: 100vh;
		width: 100%;
		overflow: hidden auto;
		
		
		&:not(.active){
			&:before{
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				height: 150vh;
				width: 150vw;
				background: var(--cc);

				/*background-image: 
					radial-gradient(at 56% 87%, hsl(calc(var(--hue) + 20 ) , 100%, var(--lightest)) 0px, transparent 50%),
					radial-gradient(at 62% 56%, hsl(calc(var(--hue) + 60 ) , 100%, var(--lightest)) 0px, transparent 50%),
					radial-gradient(at 41% 30%, hsl(calc(var(--hue) + 40 ) , 100%, var(--lightest)) 0px, transparent 50%),
					radial-gradient(at 97% 22%, hsl(calc(var(--hue) - 20 ) , 100%, var(--lightest)) 0px, transparent 50%),
					radial-gradient(at 18% 8%,  hsl(calc(var(--hue) - 60 ) , 100%, var(--lightest)) 0px, transparent 50%),
					radial-gradient(at 33% 36%, hsl(calc(var(--hue) - 40 ) , 100%, var(--lightest)) 0px, transparent 50%),
					radial-gradient(at 79% 40%, hsl(calc(var(--hue) + 10 ) , 100%, var(--lightest)) 0px, transparent 50%);*/
			}
		}

		ul#panFallback{
			@include flex();
			@include flex-direction(column);
			@include justify-content(center);
			@include align-items(center);
			//width: calc(min(calc(100vw - #{$unite}*2), #{$maxW * .666}));
      width: calc(100vw - #{$base*4});
			gap: 4px;
			opacity: 1;
			transition: opacity calc(var(--spaT) * .5 ) ease-in-out;

			@include for-size(phone){
			  left: 50%;
	    	transform: translateX(-50%);
				margin: calc(max(10rem, 10vh)) 0;
			}

			@include for-size(desktop){
				top: 50%;
				left: 50%;
				transform: translateY(-50%) translateX(-50%);
      	max-width: calc(min(calc(100vw - #{$unite}*2), #{$maxW * 1.5}));
			}

			@media screen and (min-width: $maxW){
				@include flex-direction(row);
				@include align-items(stretch);
				//width: calc(min(calc(100vw - #{$unite}*2), #{$maxW * 1.5}));
			}

			// WIP
			z-index: 2;

			> li{
				width: calc(100vw - #{$base*4});
				display: inline-block;
				text-align: center;
				box-sizing: border-box;
				color: var(--cc);

				@media screen and (min-width: $maxW){
					width: 100%;
				}

				> ul{
					height: 100%;
					@include flex();
					@include flex-direction(column);
					@include justify-content(space-between);
					gap: 0;
					
					> li{
						padding: $base*2 math.div($unite,2);
						background: var(--bg);

						&:hover{
							color: var(--bg);
							background: var(--cc);
						}

						&:first-of-type{
							padding-top: $base*4;
							padding-bottom: $base*6;
						}
						&:last-of-type{
							//padding-bottom: $base*4;
							padding: 0;
							border-top: .5px solid currentColor;
						}
						&:not(:last-of-type){
							flex-grow: 2;
						}
						> a{display: block;}
						> ul{
							height: 100%;
							@include flex();
							@include flex-direction(column);
							@include justify-content(space-between);
						}
					}
				}



				h1{
					@include f1(0);
					text-transform: uppercase;
					margin: math.div($baseline,4) 0;
				}

				h2{
					@include f1(2, 0, $bold);
					//margin-bottom: math.div($baseline,4);
					cursor: pointer;
				}

				address, .details, .authors{
					@include f1(0);
				}
				.date, .subtitle{
					@include f1(1);
					margin-bottom: math.div($baseline,4);
				}
				.date{
					text-transform: uppercase;
				}

				address{
					font-style: normal;
				}

				.type{display: none;}

				.link{
					padding: math.div($baseline,2);
					@include f1(0, 0, $bold);;

					&:before{
						content: "→";
						padding-right: .5em;
					}

					span{
						text-decoration: underline;
						text-decoration-ink-skip: auto;
					}
				}

				.flag{display: none;}

				&.about p{@include f1(0);}
				&.publications{
					.date{display: none;}
				}
			}
		}

		#coverFallback{
			display: none; 
			height: 100%;

		}

		#pan360{
			height: 100vh;
			position: absolute;
			top: 0;
			&:not(.pnlm-container){
				z-index: -1;
				display: none;
			}
		}
	}
	#panorama.active + main{opacity: .98;}

}

//body:not([data-serve="index"]):not(.print) #panFallback{ opacity: 0 !important;}

body.print{
	#panorama{
		#panFallback, #pan360{display: none;}
		#coverFallback{
			height: 100%;
			width: 100%;
		}
	}


  nav#panorama{

    position: absolute;
    width: calc(#{$pW} + ( #{$bleed} *2));
    height: calc(#{$pH} + ( #{$bleed} *2));
    background: var(--bg);

    top: -$mT;
    left: -$mPf;

    #coverFallback{
      display: inline-block;

      img{
        width: 100%;
        //height: 100%;
        object-fit: cover;
		  	height: 105%;
				left: -1px;
				top: -1px;
      }
    }
  }

  &:not(.forscreen) nav#panorama{
    top: calc(#{-$mT} + #{-$bleed});
    left: calc(#{-$mPf} + #{-$bleed});

    #coverFallback img{
      left: 0;
      top: 0;
    }
  }

}

#panFallback[hidden] {
  display: none !important;
}