#sortControls{
	@include flex();
	@include flex-direction(row);
	@include justify-content(flex-start);

	
	@include for-size(desktop){ margin-top: $baseline	}
	
	li{
		margin-right: $unite;
		button{
			background: none;
			@include f1(0);
			cursor: pointer;
			
			@include for-size(desktop-1200){
				padding-right: $baseline*2 ;
			}
			&.focus{
				font-weight: $bold;
			}
			&:after{
				content: "↑↓";
				width: $baseline;
				height: $baseline;
				top: 0;
				right: 0;
				padding-left: .5rem;

			}
		}
	}
}