#topbar{

	top: 0;
	margin: auto;
	width: calc(100vw - #{$base*4});
	max-width: $maxW;
	//height: $baseline*2;

	z-index: 5;
	transition: transform .25s ease-in-out, 
							max-width .25s ease-in-out;

  display: flex;

	> ul:first-of-type{
		padding: $base*4 calc(clamp(#{math.div($unite, 4)}, 2vw, #{math.div($unite, 2)})) $base*4 $gut;
		background: lightgrey;
		background: var(--bg);
		box-sizing: border-box;
		min-height: $baseline*2;

		> li{
			@include f1(1);
			&.home{font-weight: $bold;}
			&.pages{
				
				>ul{

					li:not(:last-of-type){
						padding-right: .75rem;
						margin-right: .75rem;

						&:after{
							content: "";
							right: -.75rem;
							height: 80%;
							width: 1px;
							border-right: 1px solid currentColor;
						}
					}
				}
			}
		}
	}

	#switch_lang{
		li{
			height: $baseline;
			border-style: solid;
			border-width: 0 0 0 1px;
			border-color: var(--cc);
			text-align: center;
			text-transform: uppercase;
			box-sizing: border-box;
			background: var(--bg);
			color: var(--cc);

			&:first-of-type{border-bottom-width: 1px;}

			&:not([aria-disabled="true"]){
				cursor: pointer;
				&:hover{
					background: var(--cc);
					color: var(--bg);				
				}
			}

			&[aria-disabled="true"] a{
				cursor: default;
				font-weight: $bold;
				&:hover{opacity: .25;}
			}

			a{
				@include f1(0);
				width: 100%;
				height: 100%;
				display: inline-block;
				padding-top: $baseline*.25;
				vertical-align: top;
				box-sizing: border-box;				

			}
		}
	}

	@media (max-width: $maxW){
		position: fixed;
		height: auto;
		left: 50%;
		transform: translateX(-50%);

		> ul:first-of-type{
			width: calc(100% - #{$baseline*2});
			padding: $base*4 $gut;
			li{
				font-size: 1rem;
				line-height: 1.6;
			}
			li.pages{
				li{
					display: inline-block;
				}
			}
		}
		
		#switch_lang{
			li{
				width: $baseline*2;
			}
		}		
	}

	@media (min-width: $maxW){
		position: sticky;
		height: 0;
  	filter: drop-shadow(0.25rem .25rem .5rem var(--cc));
		//width: calc(100vw - $unite*4);

		> ul:first-of-type{
			display: grid;
			grid-template-columns: #{$unite*4} auto #{$unite*4};
			padding: $base*4 $baseline*1.5;
			width: calc(100% - #{$baseline});

			> li{
				&.home{grid-column: 1/ span 1;}
				&.pages{
					grid-column: 3/ span 1;
					text-align: right;

					>ul{
						@include flex;
						@include justify-content(flex-end);
					}		
				}
			}
		}

		#switch_lang{
			li{
				width: $baseline;
			}
		}
	}
}