$offsetTop: calc(max(20vh, 15rem));

body.transition:not(.noJS){
	@keyframes moveIn↑{
		from{ top: calc(100vh + #{$offsetTop}); max-height: 0;}
		99%{ top: $offsetTop; max-height: 150vh;}
		to{ top: $offsetTop; max-height: unset;}
	}

	@keyframes moveOut↓{
		from{ top: $offsetTop; max-height: 150vh;}
		to{ top: calc(100vh + #{$offsetTop}); max-height: 0}
	}

 	main{
		top: $offsetTop;
		&:not(.previous){	z-index: 2; }
		&.previous{	z-index: 1; }
	}
	
		&:not([data-serve="index"]) main{		
			&:not(.previous){
				animation: calc(var(--spaT) / 2) ease-in-out 1 moveIn↑ forwards;
			}
			&.previous{
				animation: calc(var(--spaT) / 2) ease-in-out 1 moveOut↓ forwards;
			}
		}

		&[data-serve="index"] main{		
			&:not(.previous){
				animation: calc(var(--spaT) / 2) ease-in-out 1 moveIn↑ forwards;
			}
			&.previous{
				animation: calc(var(--spaT) / 2) ease-in-out 1 moveOut↓ forwards;
			}
		}
		@media (prefers-reduced-motion: reduce) { --spaT: 0s }
}

//
// Index fallback animation
//

@mixin offScreen {top: 100vh; transform: translateX(calc(50% * var(--a))) rotate(calc(10deg * var(--b)))};
@mixin onScreen {top: 0; transform: translateX(0) rotate(0)};

@keyframes fallIn↑{

	from{ @include offScreen; }
	50% { @include offScreen; }
	to  { @include onScreen;  }
}  

@keyframes fallOut↓{
	from{ @include onScreen;  }
	50% {	@include offScreen; }
	to  {	@include offScreen; }
}


@media (prefers-reduced-motion: no-preference) {

	// Define Rotate & transform orientation based on right/left position
	ul#panFallback > li{
		--a: 1;
		--b: 1;
		@include for-size(desktop-1200){
			&:nth-of-type(1){ --b: -1 }
			&:nth-of-type(2){ --a: -1 }
		}
	}

	body[data-serve="index"].transition:not(.init):not([data-prev="index"]) nav#panorama ul#panFallback > li {
		@include offScreen; // Define init state;
		animation: var(--spaT) ease-in-out 1 fallIn↑ forwards;
		&:nth-of-type(2){animation-delay: .1s }
	}

	body[data-prev="index"].transition:not(.init):not([data-serve="index"]) nav#panorama ul#panFallback > li {
		@include onScreen; // Define init state;
		animation: var(--spaT) ease-in-out 1 fallOut↓ forwards;
		&:nth-of-type(2){animation-delay: .1s }
	}

	body.transition ul#panFallback *:hover{ color: unset; background: unset}
}
