<div class="ariane">
  <ol aria-label="{{ 'interaction.breadcrumb' | i18n }}">
  {% set parentUrl = page.url | split('/') | head(0, -2) | join('/') %}
  
  {% if layout == "publications_list" %}
    <li aria-current="page">
      {{ 'category.publications' | i18n }}
    </li>
  {% elif layout == "events_list" %}
    <li aria-current="page">
      {{ 'category.events' | i18n }}
    </li>    
  {% elif layout == "event" %}
    <li>
      <a class="type" 
         href="{{parentUrl}}/"
         aria-label="{{ 'interaction.back_to' | i18n }} {{ 'list.all_past_event' | i18n }}">
        {{ 'category.event' | i18n }}
      </a>
    </li>
    <li aria-current="page">
      &nbsp;/ {{ title }}
    </li>
  {% else %}
    <li>
      <a class="type" 
         href="{{parentUrl}}/"
         aria-label="{{ 'interaction.back_to' | i18n }} {{ 'list.all_publications' | i18n }}">
        {{ 'category.publication' | i18n }}
      </a>
    </li>
    <li aria-current="page">
      &nbsp;/ {{ type | default(layout) }}
    </li>    
  {%endif%}
  </ol>

  {% if layout == "publication" and content%}
    <p class="reading">{% readingTime content, locale | safe %}</p>
  {%  endif %}
</div>