{% if publication %}
	{% set item = publication %}
{% elif event  %}
	{% set item = event %}
{% endif %}

<li data-date="{{ item.data.date }}" 
		data-title="{{ item.data.title | markdown | replace('<p>', '')| replace('</p>', '') | safe}}"
		{% if publication %}
		data-author="{%- if (item.data.author | isArr) -%}{{item.data.author | join(', ')}}{%else%}{{item.data.author}}{%endif%}"
		{%endif%}>

	<a href="{{item.url}}" aria-label="{% if publication %}{{ 'interaction.read_publication' | i18n }}{% else %}{{ 'interaction.access_event' | i18n }}{% endif %} {{item.data.title}}">
		<p class="type">{{ item.data.type }}</p>
		<p class="date">{% date item.data.date, locale%}</p>
		<h2 class="title">{{ item.data.title | markdown | escaP | safe}}</h2>

	  {% if item.data.subtitle %}
	    <p class="subtitle">{{ item.data.subtitle | markdown | escaP | safe}}</p>
	  {% endif %}
	</a>
		<div class="details">

			{% if publication %}

	    	{% if item.data.author %}
	        <p class="authors">{{ 'common.by' | i18n }}&#32;
	          {% include "partials/page/author.html" %}
	        </p>
	      {% endif %}
				
			{% endif %}

			{% if event %}

		<div class="rendez-vous">
	        <p>{% dateCompare item.data.event_date, item.data.locale %}</p>
	        <address>{{ item.data.place }}</address>						
		</div>

			{% endif %}

			<ul class="flags">
				{% if item.data.flag %}
					{%- if (item.data.flag | isArr) -%}
						{% for f in item.data.flag %}
							<li class="flag">{{f | markdown | escaP | safe}}</li>
						{% endfor %}
					{% else %}
						<li class="flag">{{item.data.flag | markdown | escaP | safe}}</li>
					{% endif %}
				{% endif %}
				{% if event %}
					{% if event.data.date | isInThePast %}
						<li class="flag">Archive</li>
					{% endif %}
				{% endif %}
				{% if publication %}
					{% include "partials/tools/check_for_internal_authors.html" %}
				{% endif %}
			</ul>
		</div>
	
</li>