<nav>
	<ul id="sortControls">
		<li class="title">
			<button title="{{ 'interaction.sort_by' | i18n }} {{ 'interaction.title' | i18n }}"
							aria-label="{{ 'interaction.sort_by' | i18n }} {{ 'interaction.title' | i18n }}"	
			 				data-value="title" 
							onclick="SortItem(this)">
							{{ 'interaction.title' | i18n }}
			</button>
		</li>
		<li class="date">
			<button title="{{ 'interaction.sort_by' | i18n }} date"
							aria-label="{{ 'interaction.sort_by' | i18n }} date"
							data-value="date" 
							onclick="SortItem(this)">
							Date
			</button>
		</li>
		{% if layout == "publications_list" %}
			<li class="author">
				<button title="{{ 'interaction.sort_by' | i18n }} {{ 'interaction.authors' | i18n }}" 
								aria-label="{{ 'interaction.sort_by' | i18n }} {{ 'interaction.authors' | i18n }}" 
								data-value="author" 
								onclick="SortItem(this)">
								{{ 'interaction.authors' | i18n }}
				</button>
			</li>
		{% endif %}
	</ul>
</nav>