<nav id="panorama" aria-hidden="{% if layout == 'index' %}false{% else %}true{% endif %}">
	<!--Fallback-->
	<ul id="panFallback" {% if layout != 'index' %}hidden{% endif %}>
    <li class="events">
      <ul>
        <li>
          {% set events = collections["events_" + locale] %}
          {%- for event in events -%}
          	{% if loop.last %}
              
              {% if event.data.date | isInThePast %}
                <h1>{{ 'list.last_event' | i18n }}</h1>
              {% else %}
                <h1>{{ 'list.next_event' | i18n }}</h1>
              {% endif %}

              <ul>
                <li>
              		<a href="{{ event.url }}" 
                     aria-label="{{ 'interaction.access_event' | i18n }}  {{item.data.title}}"
                     {% if layout != 'index' %}tabindex="-1"{% endif %}
                     >
                    <h2>{{ event.data.title }}</h2>
                 	  <p class="date">{% dateCompare event.data.event_date, locale%}</p>
                 	  <address>{{event.data.place}}</address>

                    {% set item = event %}
                  	{% if item.data.author %}
                      <p class="authors">{{ 'common.by' | i18n }}&#32;
                        {% include "partials/page/author.html" %}
                      </p>
                    {% endif %}
                  </a>
                </li>
              </ul>
          	{% endif %}
          {%- endfor -%}
          </li>
        <li>
          <a href="/{{locale}}/event" 
             class="link"
             {% if layout != 'index' %}tabindex="-1"{% endif %}
            >
            {{ 'list.all_past_event' | i18n }}
          </a>
        </li>
      </ul>
    </li>
    <li class="publications">
      <ul>
        <li>
          <h1>{{ 'list.call' | i18n }}</h1>
          {% set publications = collections["publications_" + locale] %}
          {%- for publication in publications | head(-1) -%}
            <ul>
              {% include "partials/list_item.html" %}
            </ul>
          {%- endfor -%}
        </li>
        <li>
    	  	<a href="/{{locale}}/publication/" 
             class="link"
             {% if layout != 'index' %}tabindex="-1"{% endif %}
            >
             {{ 'list.all_publications' | i18n }}
          </a>
        </li>
      </ul>
 	  </li>
  </ul>
	<!--End Fallback-->
	<div id="pan360"></div>
  {% if print.cover_fallback %}
    <div id="coverFallback" aria-hidden="true">
      <figure>
        {% set cover =  ['/assets/media/', print.cover_fallback] %}
        <img data-src="{{ cover | join | url }}"  class="lazy" >
      </figure>
    </div>
  {% endif%}
</nav>