<nav id="sideAction">
  {% set parentUrl = page.url | split('/') | head(0, -2) | join('/') %}
  <a  aria-label="{{ 'interaction.close_view' | i18n }}"
      title="{{ 'interaction.close_view' | i18n }}"
      class="action-close" href="{{parentUrl}}/">×</a>
  <button aria-label="{{ 'interaction.dark_mode' | i18n }}"
          title="{{ 'interaction.dark_mode' | i18n }}"
          class="action-colorMode requireJs">
    {% include '../../assets/svg/icon-dark_mode.svg'%}
  </button>
  {% if layout == "publications_list" %}
    <a class="action-rss" title="{{ 'interaction.rss' | i18n }}" target="_blank" href="{{website.url}}/feed.xml">{% include "../../assets/svg/icon-rss.svg" %}</a>
  {%  endif %}
  <div aria-label="{{ 'interaction.share' | i18n }}"
          title="{{ 'interaction.share' | i18n }}"
          class="action-share requireJs">
    {% include '../../assets/svg/icon-share.svg'%}
    <div class="share-btn" 
         data-title="{%if title%}{{ title | markdown | escaP | safe }}{% endif %}"
         data-desc="Automedias">
      <a data-id="tg" 
         title="{{ 'interaction.share' | i18n }} {{ 'common.on' | i18n }} Telegram"
         aria-label="{{ 'interaction.share' | i18n }} {{ 'common.on' | i18n }} Telegram"
         role="button">
        {% include "../../assets/svg/social/tg.svg" %}</a>
      <a data-id="wa" 
         title="{{ 'interaction.share' | i18n }} {{ 'common.on' | i18n }} Whatsapp"
         aria-label="{{ 'interaction.share' | i18n }} {{ 'common.on' | i18n }} Whatsapp"
         role="button">
        {% include "../../assets/svg/social/wa.svg" %}</a>
      <a data-id="tw" 
         title="{{ 'interaction.share' | i18n }} {{ 'common.on' | i18n }} Twitter"
         aria-label="{{ 'interaction.share' | i18n }} {{ 'common.on' | i18n }} Twitter"
         role="button">
        {% include "../../assets/svg/social/tw.svg" %}</a>
      <a data-id="fb" 
         title="{{ 'interaction.share' | i18n }} {{ 'common.on' | i18n }} Facebook"
         aria-label="{{ 'interaction.share' | i18n }} {{ 'common.on' | i18n }} Facebook"
         role="button">
        {% include "../../assets/svg/social/fb.svg" %}</a>
      <a data-id="copy" 
         title="{{ 'interaction.copy' | i18n }}"
         aria-label="{{ 'interaction.copy' | i18n }}"
         role="button">
        {% include "../../assets/svg/social/copy.svg" %}</a>
    </div>
  </div>
</nav>
