<nav id="topbar">
	<ul>
		<li class="home"><a href="/{{locale}}/">{{ website[locale].name }}</a></li>
		<li class="pages">
			<ul>
				<li class="event" 
						aria-label="{{ 'interaction.link_to' | i18n }} {{ 'category.events' | i18n }}">
					<a href="/{{locale}}/event">{{ 'category.events' | i18n }}</a>
				</li>
				<li class="publication" 
						aria-label="{{ 'interaction.link_to' | i18n }} {{ 'category.publications' | i18n }}">
					<a href="/{{locale}}/publication">{{ 'category.publications' | i18n }}</a>
				</li>
				<li class="members" 
						aria-label="{{ 'interaction.link_to' | i18n }} {{ 'category.members' | i18n }}">
					<a href="/{{locale}}/members/">{{ 'category.members' | i18n }}</a>
				</li>
				<li class="info" 
						aria-label="{{ 'interaction.link_to' | i18n }} {{ 'category.info' | i18n }}">
					<a href="/{{locale}}/info">{{ 'category.info' | i18n }}</a>
				</li>
			</ul>			
		</li>
	</ul>

	<ul role="list" id="switch_lang"
			aria-label="{{ 'interaction.available_language' | i18n }}"
			>
		<li aria-disabled="{% if locale == 'fr' %}true{% else %}false{% endif %}">
			<a href="{{ page.url | replace('/en/', '/fr/')}}"
				aria-label="{% if locale == 'fr' %}{{ 'interaction.current_lang' | i18n }} {{ 'interaction.fr' | i18n }}{% else %}{{ 'interaction.switch_lang' | i18n }} {{ 'interaction.fr' | i18n }}{% endif %}"
				title="{% if locale == 'fr' %}{{ 'interaction.current_lang' | i18n }} {{ 'interaction.fr' | i18n }}{% else %}{{ 'interaction.switch_lang' | i18n }} {{ 'interaction.fr' | i18n }}{% endif %}"
				class="action-lang">
				fr
			</a>			
		</li>

		<li aria-disabled="{% if locale == 'en' %}true{% else %}false{% endif %}">
			<a href="{{ page.url | replace('/fr/', '/en/')}}"
				aria-label="{% if locale == 'en' %}{{ 'interaction.current_lang' | i18n }} {{ 'interaction.en' | i18n }}{% else %}{{ 'interaction.switch_lang' | i18n }} {{ 'interaction.en' | i18n }}{% endif %}"
				title="{% if locale == 'en' %}{{ 'interaction.current_lang' | i18n }} {{ 'interaction.en' | i18n }}{% else %}{{ 'interaction.switch_lang' | i18n }} {{ 'interaction.en' | i18n }}{% endif %}"
				class="action-lang">
				en
			</a>			
		</li>
	</ul>
</nav>