.flag{
	@include f1(0, 0, $medium);
	//text-transform: uppercase;
	font-size: 60%;
	line-height: 1em;
	display: inline-block;
	letter-spacing: -.0125rem;
	border: 1px solid currentColor;
	border-radius: $unite;
	padding: .3em 1em;
	margin-left: .25em; 
	left: -.5em;

	vertical-align: middle;
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
	overflow-y: hidden;
}

time{
	sup{
		text-transform: lowercase;
	}
}

body:not(.print){
	.link.l, .link.xxl{
		margin: $baseline 0;
		@include f1(1, 0, $medium);
		//text-transform: capitalize;
		text-decoration: underline;
		text-decoration-ink-skip: auto;
		display: block;
		transition: .25s ease-in-out;
		width: fit-content;
	}


	.link.xxl{
		border: $border;
		padding: .3em 1em;

		&:hover{
			color: var(--bg);
			background: var(--cc);
		}
	}

	.link.l{
		left: 0;
		transition: .25s ease-in-out;
		
		&:before{
			content: "→ ";
			height: auto;
			display: inline-block;
			overflow: hidden;
			vertical-align: middle;
			padding-right: math.div($unite, 2);
		}

		&:hover{
			left: math.div($unite, 2);
		}			
	}
}

body.print{ 
	a.link.l, 
	a.link.xxl{
		display: block;
		margin-bottom: $baseline;
		&::after {
			text-decoration: none;
		}
	} 
}
