main{
	& > * > header{
		@include flex;
		@include justify-content(center);
		@include align-items(flex-start);
		@include flex-wrap(center);
		@include flex-direction(column);

		h1{@include f1(4, 0, $bold);}

		.subtitle{@include f1(1);}

		.date{
			@include f1(1, 0, $bold);
			text-transform: uppercase;
			// margin-bottom: math.div($baseline,2);
		}

		.flags:empty{display: none;}

		address{
			@include f1(1);
			font-style: normal;
		}
	}


	.ariane{
		ol{
			list-style: none;
			
			li{display: inline-block;}
		}
	}
}

main:not(.print){

	& > * > header{
		//margin-bottom: $baseline;
		border-bottom: $border-black;
		h1{
			max-width: calc(clamp($unite*10, 100%, 90%));
		}
		.subtitle{
			span{
				display: block;
				@include f1(1);
			}
		}

		.average_day_duration{display: none;}

		.organizers, .coverCredit{display: none;}
		address{
			margin-bottom: math.div($baseline,2);
			.postal{display: none}
		}			
	}
	@include for-size(phone){
		.ariane{@include f1(0);}
		& > * > header{
			padding: 0 0 $baseline 0 ;
			> *{ margin: $base*4 0; }
			.subtitle{ margin-top: 0;}
			.author{ @include f1(0);}
		}
	}
	@include for-size(desktop){
		.ariane{@include f1(1);}
		& > * > header{
			text-align: center;
			min-height: 70vh;
			@include align-items(center);
			h1{margin-bottom: $base*4;}
			.subtitle{
				margin-bottom: $baseline;
				@include f1(2);
				span{padding: .5em 4vw 0 4vw;}
			}
		} 
	}
	@include for-size(desktop-1200){
		& > * > header h1{
			&.moderate{
				font-size: calc(clamp($baseline*2, 3vw, $baseline*4));
			}
			&.long{
				font-size: calc(clamp($baseline*2, 5vw, $baseline*2.5));
			}
		}
	}
}