body:not(.print){
	@media (min-width: $maxW){

		#topbar{ will-change: transform, background-color;}
		main{ will-change: top, max-height, background-color;}
		
		&[data-serve="index" ] #topbar,
		main[data-type="index" ]{ 
			transform: translateX(0);
		}


		&[data-serve="events_list" ] #topbar,
		&[data-serve="publications_list" ] #topbar,
		main[data-type="publications_list" ],
		main[data-type="events_list" ]{
			transform: translateX(calc(min((100vw - 2vw - 50rem) * .33, $maxW*.5)*-1));
		}

		&:not([data-serve="events_list" ]):not([data-serve="publications_list" ]):not([data-serve="index" ]) #topbar,
		main:not([data-type="events_list" ]):not([data-type="publications_list" ]):not([data-type="index" ]){
			transform: translateX(calc(min((100vw - 2vw - 50rem) * .33, $maxW*.5)));
		}
	}

	//&:not([data-serve="index" ]) nav#panorama ul#panFallback{display: none;}
}

body:not(.print){
	.justPrint{display: none !important;}
}
