@media screen {
	main{
		#videos, #teasers{

			h1{
				max-width: inherit;
				width: 100%;
			}

			.container{
				height: auto;
				margin: 0 1rem 2rem 1rem;
				box-sizing: border-box;
				flex-grow: 1;
				transition: .25s ease-in-out;
				display: inline-block;
				width: auto;
				
				> *{
					max-width: calc(#{$maxW} - #{$unite*3.5});
					width: 100%;
					transition: .25s ease-in-out;
				}

				&.forced > *{
					padding-top: 0 !important;
				}

				p{
					@include f1(0);
					padding: $base*2 0;

				}
			}

			&:not([data-item="1"]){
				.container > *:not(.activated){
					width: calc(#{$maxW} / 2 - #{$unite*2.25});
					max-width: calc(100vw - #{$unite*2.5});
					--tweak: .5;
					&:before{ border-width: 20vmax}
				}
				.container > .activated{
					width: min( calc(100vw - #{$unite*2.5}), calc(#{$maxW} - #{$unite*3}));
				}
			}		
			&[data-item="1"]{

				@include for-size(phone){
					.container > *:not(.activated){
						--tweak: .5;
					}
				}
				.container > *{
					width: min( calc(100vw - #{$unite*2.5}), calc(#{$maxW} - #{$unite*3}));
				}
			}
		}
	}
}

main.print #videos{ display: none; }
main.print #teasers{ display: none; }

main.print{
	#videos, #teasers{
		*{
			width: 0 !important;
			height: 0 !important;
			display: none !important;
			position: absolute !important;
			overflow: hidden !important;
		}
	}
}