main article{

	.footnote-ref{
		a{text-decoration: none;}
	}

	.sidenote{
	  float: right;
	  clear: right;
	  margin-right: -60%;
	  width: 50%;
	  margin-top: 0.3rem;
	  margin-bottom: 0;
	  font-size: 1.1rem;
	  line-height: 1.3;
	  vertical-align: baseline;
	  position: relative;

		&:before {
		    content: counter(sidenote-counter) " ";
		    font-size: 1rem;
		    top: -0.5rem;
		}
		
		p {@include f1(0)}		
	}

	.sidenote-number {
	  counter-increment: sidenote-counter;
		&:after {
		    content: counter(sidenote-counter);
		    font-size: 1rem;
		    top: -0.5rem;
		    left: 0.1rem;
		}
	}

	.sidenote-number:after,
	.sidenote:before {
	    position: relative;
	    vertical-align: baseline;
	}

	.footnotes{
		margin-top: $baseline;
		padding-top: $baseline;
		border-top: $border;

		ol{
			padding-left: $base*4;
			li{
				padding: 0 $baseline;
			}
		}
		*, p{
			@include f1(0);
			margin-bottom: $base*4;
		}
		a{
			text-decoration: underline;
			text-decoration-skip-ink: auto;
			word-break: break-word;
		}
	}
}