.pinned{

	background: var(--bg);
	overflow: hidden;

	a{
		display: inline-block;

		@include f1(0);
		background: var(--bg);
		padding: $base*4;
		border-left: 1px solid var(--cc);
		border-top: 1px solid var(--cc);
		position: absolute;
		right: 0;
	}

	img{
		filter: grayscale(1);
		mix-blend-mode: multiply;
		height: 100%;
		width: 100%;
	}

}

body > .pinned{
	display: none;
}

article .pinned{
	width: calc(100% + #{$gut}*2);
	left: calc($gut * -1);
	max-height: 25rem;
	transition: max-height .25s 2s ease-in;
	border-bottom: 1px solid var(--cc);

	&:hover{
		max-height: 150vh;
	}

	a{
		top: calc(25rem + 1px);
		transform: translateY(-100%);
		border-bottom: 1px solid var(--cc);
	}

	img{
		object-position: center;
		object-fit: cover;
	}
}


@include for-size(desktop-1200){

	article .pinned.copied{display: none;}

	body > .pinned{
		--x: 0px;
		--y: 0px;
		display: inline-block;
		position: fixed;
		padding: $base*3;
		top: calc(50% + var(--y));
		left: calc(20% + var(--x));
		transform: translateY(-50%) rotate(0deg) scale(1);
		filter: drop-shadow(0.25rem .25rem .5rem var(--cc));
		z-index: 1;
		max-width: 30rem;
		width: 100%;
		transition: 
			left .33s ease-in-out, 
			transform .33s ease-in-out;

		&:hover{
			z-index: 6;
			img{
				filter: none;
				mix-blend-mode: normal;
			}
		}

		&:after{
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 10;
		}	
		a{
			bottom: 0;
			right: 0;
			z-index: 11;
		}
	}

	body:not(.noJs).transition > .pinned{
		transform: translateY(100vh) rotate(10deg) scale(0.9);
	}

}

@include for-size(desktop-1400){
	body > .pinned{
		left: calc(30% + var(--x));
	}
}
@include for-size(desktop-1600){
	body > .pinned{
		left: calc(40% + var(--x));
	}
}

body.darkMode .pinned img{mix-blend-mode: luminosity;}

@media print{
	.pinned {display: none;}
}