main{
	.list{

		&[data-sort-by="date"]{
			> li .date{display: inline-block;}
		}
		
		> li{
			padding: math.div($baseline,2) math.div($unite,4) math.div($baseline,2) math.div($unite,4);
			width: 100%;
			box-sizing: border-box;
			
			transition: none; //color .25s ease-in-out;

			> a{display: inline-block; width: 100%;}

			&:hover{
				color: var(--bg);
				background: var(--cc);
			}

			.title{
				@include f1(1, -2, $medium);
				padding-bottom: $base*2;
			}

			.subtitle{
				display: none;
				// margin: math.div($baseline,4) 0;
			}


			.type, .date{
				@include f1(0);
				margin-bottom: $base;
				display: inline-block;
			}
			.type{
				text-transform: uppercase;
				&:empty{display: none}
			}
			.date{
				display: none;
				position: absolute;
				right: 0;
				top: $base*2;
			}

			.flags:empty{display: none}

			.details{
				@include flex();
				@include justify-content(space-between);
				@include align-items(baseline);
				@include flex-direction(column);

				& > *:not(.flags){@include f1(0);}
			}

			@media screen and (max-width: 450px){
				padding-left: 0;
				.details .flags{padding: $base*2;}
			}

			@media screen and (min-width: 450px){
				.details{
					@include flex-direction(row)
				}
			}

			@include for-size(desktop){
				.title{
					@include f1(2, 0, $medium);
				}				
				.details > *:not(.flags){
					@include f1(1);
				}
			}
		}

		&:not(.duo){
			> li{
				border-top: 1px solid currentColor;
				min-height: $baseline*2.5;

				/* h3{
					max-width: math.div($maxW, 1.5)
				} */
			}
		}
		
		&.publication{

			&.duo{
				
				> li{
					border-bottom: 1px solid currentColor;
					margin-right: $unite;
				}
				
				@include for-size(desktop){
					display: grid;
					grid-template-columns: 1fr 1fr;
					grid-gap: 0;
					
					> li{
						height: auto;
						border-bottom: inherit;

						&:not(:first-of-type):not(:nth-of-type(2)){
							&:before{
								display: inline-block;
								content: "";
								width: 100%;//calc(100% - #{$unite});
								//top: calc(#{$baseline*-1.5} - 4px);
								top: -1px;
								position: absolute;
								left: 0;
								height: 1px;
								border-bottom: 1px solid currentColor;

							}
						} 
					}				
				}
			}
		}
	}
}

[data-section="Ressources"] li:before{content: none !important;}