section#colophon{
	min-height: initial;
	@include f1(0);
	border: none;
	span{font-weight: $bold}
}
main[data-type="event"]:not(.print) section#colophon{display: none;}
main.print section#colophon{
	position: absolute;
	bottom: 0;
	a:after{content: none;}
}