html{
	scrollbar-gutter: stable;
}



main{
	&:not(.print){
			top: 20vh;
			top: $offsetTop;
			margin: auto;
			//width: calc(min( calc(100vw - calc(#{$gut}*2) ), #{$maxW}));
			width: calc(min( calc(100vw - #{$base*4}) , #{$maxW}));

			background: lightgrey;
			background: var(--bg);
			box-sizing: border-box;
			transition: all .25s ease-in-out, 
									top var(--SPAt) ease-in-out, 
									height 0s, 
									width 0s;
			z-index: 5;

		&:not(.open){
			overflow: hidden;
			min-height: 0;
		}

		&.open{
			min-height: 80vh;
			// height: auto;
			max-height: inherit;
		}

		@include for-size(phone){
			padding: $base*4 $gut $baseline*1 $gut;
		}
		@include for-size(desktop){
			padding: $baseline*1.5 $gut $baseline*1 $gut;
			filter: drop-shadow(0.25rem 1rem .5rem var(--cc));
		}
	}


	&[data-type="index" ]{
		padding: 0;
		top: 100vh;
	}

	//
	// General sections
	//
	> * > section{
		&:not(.article){
			h1{
				@include f1(2, 0, $bold);
				text-transform: uppercase;
			}
		}
		&:not(.article):not(#program){
			h2{
				@include f1(1, 0, $bold);
				margin-bottom: math.div($baseline,2);
			}			
		}
	}

	&:not(.print){
		> section, > article{
			display: inline-block;
			padding-top: $baseline;
			width: 100%;
		}

		> * > section{
			padding: $baseline 0 $baseline*2 0;
			box-sizing: border-box;
			border-bottom: $border-black;

			&:not(:last-of-type){
			}
			&:last-of-type:not(.closed){
				min-height: calc(80vh - #{$baseline*3});
			}

			&:not(.article):not(#program){
				h1{
					margin-bottom: $baseline*2;
					//max-width: math.div($maxW, 2);
				}

				h2{
					margin-bottom: math.div($baseline,2);
				}
			}

			&.closed{
				max-height: $baseline*2.5;
				overflow: hidden;
				cursor: pointer;

				&[data-section="Éléments visuels associés"],
				&[data-section="Associated visual elements"]{
					max-height: $baseline*4;
				}
			}
		}
	}

	&.print{
		> section, > article{
			h1{
				margin-bottom: $baseline;
			}
		}
	}
}

