main[data-type="event"]{


	#practical_information{
		h2{

				@media (min-width: #{$maxW*.5}){grid-column: span 2;}
				@media (min-width: #{$maxW}){grid-column: span 3;}
			}
	  ul{

	  	@include for-size(desktop){ @include grid(2);}

			li {
				@include f1(1);
				margin-bottom: $baseline*2;

				a{
					text-decoration: underline;
					text-decoration-ink-skip: auto;
				}
			}
	  }  
	}

	&.print{
		#practical_information{
			figure{
				width: 60mm;
				border-top: 4px solid;
				border-bottom: 4px solid;
				margin: 2rem 0;
				display: flex;
			}
			img{
				width: 100%;
				mix-blend-mode: multiply;
			}
			a{display: block;}
		}
		&:not(.forscreen){
			#practical_information{
				
			}
		}
	}
}
