main[data-type="event"]{

	#partners{
		> ul{
			h2{
				@include f1(1,0,$bold);
			}

			&.simple{
				@include grid(4);
				img{max-width: 100%;}
			}
			ul{
				@include grid(3);
				gap: $baseline*1.5 $unite;
				align-items: center;
			}

			li{
				a{
					text-decoration: underline;
					text-decoration-skip-ink: auto;
				}
				img{
					filter: grayscale(1) contrast(3);
					mix-blend-mode: multiply;
					opacity: .75;
				}
			}
		}
		.legals *{
			@include f1(0);
		}		
	}

	&:not(.print){
		#partners{
			> ul{
				> li{
					margin-bottom: $baseline;
					> ul{
						padding: $baseline 0;
					}
					
					img{
						max-height: $baseline*3;
						max-width: $baseline*5;
					}
				}
			}
		}
	}
	&.print{
		#partners{
			//position: absolute;
			//bottom: 0;
			width: 100%;
			h1{
				display: none;
			}
			> ul{
				display: grid;
				gap: $baseline*1.5 $unite;
				grid-template-columns: repeat(4, 1fr);
				align-items: center;

				&.simple img{
					max-height: $baseline*1.5;
					max-width: $baseline*3.5;
				}

				&:not(.simple){
					grid-template-columns: repeat(2, 1fr);

					> li {
						
						&:after{
							content: "";
							width: 100%;
							height: 1px;
							position: absolute;
							bottom: $baseline*-1.5;
							left: 0;
							border-bottom: 1pt solid;
						}

						h2{font-size: 1rem;}
						> ul{
							grid-template-columns: repeat(3, 1fr);
							> li{

								img{
									max-height: $baseline*2;
									max-width: $baseline*3.5;
								}
							}
						}
					}
				}
			}
		}

		.legals{
			column-count: 2;
			column-fill: auto;
		}
	}
}

body.darkMode	main[data-type="event"] #partners > ul li img{
	filter: grayscale(1) invert(1);
	mix-blend-mode: screen;
}