main[data-type="members"]{

	section >.wrapper{
		max-width: 40rem;
		margin-bottom: $baseline;
	}

	h2{
		@include f1(2);
		margin-bottom: $base*4;
	}

	ul.members > li{

		border-top: 1px solid currentColor;
		padding: $base*4 0;
		margin: $base*4 0;

		> p, > ul{
			@include f1(0);
			margin-bottom: math.div($baseline,4);
		}

		[aria-label="job title"]{
				font-weight: $medium;
				margin: $base*4 0;
				max-width: 15rem;
		}

		[aria-label="contact"] a {
			text-decoration: underline;
			text-decoration-skip-ink: auto;
		}
		
		.flag{
			position: absolute;
			border-radius: 0;
			right: 0;
			left: unset;
			top: -1px;
			background: var(--bg);	
		}
	}


	@include for-size(desktop){
		ul.members{	

			@include grid(2);
			grid-gap: 0 $base*4;
		}
	}
}