section.bibliography{

	li.noCounter {
		list-style-type: none;
	}

	ol:not(:has(ol)){
		li {padding: $base $baseline 0 $baseline;}
		padding-left: $base*4;
	}

	li{
		@include f1(0);
	}	

	h2, h2 *{ 
		font-weight: $bold;
		text-transform: capitalize;
	}


	> ol > li.noCounter{
		 > ol{
			@include grid(3);
			gap: $base*4;
			margin-bottom: $baseline*2;

			li{
				margin-left: math.div($unite,2);
			}
		}

		@media (min-width: $maxW){
			ol{
				column-count: 2;
				column-fill: balance;
			}
		}
	}
}